*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: auto;
    color: rgb(129, 55, 55);
    background-color: rgb(252, 227, 196);   
}


.header p{
    text-align: end;
    padding: 20px;
}

.header button{
    margin: 20px;
    width: 10em;
    height: 4em;
    border-radius: 10px;
    font-weight: 600;
    border: transparent;
    background: pink;
}

.header h1{
    text-align: center;
    padding: 15px;
}

.Qst{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10em;
    height: 200px;
    width: 200px;
    /* background-color: green; */
    margin: 0 auto;
    border-bottom: 1px solid black;
    color: rgb(173, 168, 168);
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.main{
    display: flex;
    justify-content: space-between;
    padding: 25px;
    padding-bottom: 0;
    gap: 30px;
    /* background: blue; */
}

.right-section{
    height: 40%;
    gap: 20px;
    /* background-color: yellow; */
    display: flex;
    flex-direction: column;
    margin-right: 80px;
    font-size: 20px;
    text-align: center;
}

.left-section{
    height: 100px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    /* background: brown; */
    margin-left: 30px;
    padding: 5px;
}

.left-section input{
    background-color: pink;
    width: 170px;
    height: 50px;
    border-radius: 10px;
    border: transparent;
    text-align: center;
    outline: none;
    font-size: 1rem;
}

.left-section button{
    width: 80px;
    height: 50px;
    border-radius: 10px;
    border: transparent;
    background-color: pink;
}

button.clicked{
    transform: scale(1.1);
}